name: Run clang-format Check
on:
  workflow_dispatch:  
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]
# on: workflow_dispatch
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - check: 'src'
            exclude: ''              # Nothing to exclude
          - check: 'test'
            exclude: '(template|unity|hw_test)'  # Exclude file paths containing "template" or "unity"

    steps:
    - uses: actions/checkout@v4.1.1
    - name: Run clang-format style check for C/C++/Protobuf programs.
      uses: jidicula/clang-format-action@v4.11.0
      with:
        clang-format-version: '17'
        check-path: ${{ matrix.path['check'] }}
        exclude-regex: ${{ matrix.path['exclude'] }}
        # fallback-style: 'Microsoft' # optional
